<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">

    <div class="container">

        <a class="navbar-brand me-2" href={{url_for('index')}}>
            <img
                    src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                    height="16"
                    alt="MDB Logo"
                    loading="lazy"
                    style="margin-top: -1px;"
            />
        </a>

        <button
                data-mdb-collapse-init
                class="navbar-toggler"
                type="button"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarButtonsExample">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href={{url_for('index')}}>Trang chủ</a>
                </li>

            </ul>

            {% if current_user.is_authenticated %}
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                div class="nav-item dropdown">

                <a
                        data-mdb-dropdown-init
                        class="nav-link dropdown-toggle d-flex align-items-center"
                        href="#"
                        id="navbarDropdownMenuLink"
                        role="button"
                        aria-expanded="false"
                >
                    <img
                            src="{{current_user.profile_picture}}"
                            class="rounded-circle"
                            height="30"
                            alt="User Profile Picture"
                            loading="lazy"
                    />
                </a>
                {% if current_user.user_role != UserRole.KHACH_HANG %}

                <li>
                    <a class="dropdown-item" href="{{ url_for('redirect_user') }}">Trang dành cho bạn</a>
                </li>

                {% endif %}

                <li>
                    <a class="dropdown-item" href="{{url_for('update_account_view')}}">Thiết lập thông tin tài khoản</a>
                </li>

                <li>
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Đăng xuất</a>
                </li>

            </ul>

        </div>
        {% else %}

        <div class="d-flex align-items-center">
            <a href="{{ url_for('login') }}" class="btn btn-link px-3 me-2">
                Đăng nhập
            </a>
            <a href="{{ url_for('register') }}" class="btn btn-primary me-3">
                Đăng ký
            </a>
        </div>
        {% endif %}

    </div>
</nav>