{% extends 'layout/base.html' %}

{% block title %}

<title>Cập nhật thông tin tài khoản</title>
<style>
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }
    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #content {
        transition: opacity 0.3s ease-in-out;
    }

    #content.d-none {
        opacity: 0;
    }
</style>
{% endblock %}

{% block content %}

<h1>UPDATE</h1>

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a id="profile" class="nav-link active ms-0" href="#" onclick="loadContent('{{url_for('update_profile')}}')"
           target="__blank">Thông tin cá nhân</a>
        {% if current_user.user_role == UserRole.KHACH_HANG %}
        <a id="payment" class="nav-link" href="#" target="__blank">Thông tin thanh toán</a>
        {% endif %}
        <a id="password" class="nav-link" href="#"
           onclick="loadContent('{{url_for('update_password')}}')" target="__blank">Mật khẩu</a>
    </nav>
    <hr class="mt-0 mb-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for message, category in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div id="content">
    </div>

</div>
<script>
    function loadContent(url) {
    const contentDiv = document.getElementById('content');
    contentDiv.innerHTML = "<p>Loading...</p>";
    fetch(url)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            return response.text();
        })
        .then(html => {
            contentDiv.innerHTML = html;
        })
        .catch(error => console.error('Có lỗi xảy ra:', error));
    }
    document.addEventListener('DOMContentLoaded', function() {
        const profile = document.getElementById('profile');
        const payment = document.getElementById('payment');
        const password = document.getElementById('password');

        profile.addEventListener(onclick, loadContent);

        if (payment !== null)
            payment.addEventListener(onclick, loadContent);

        password.addEventListener(onclick, loadContent);

        profile.click();

    });
</script>
{% endblock %}